<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listagem de Clientes</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            text-align: left;
            padding: 8px;
        }
        
        th {
            background-color: #4CAF50;
            color: white;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Listagem de Clientes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Senha</th>
        </tr>
        <!-- Início do loop para preencher as linhas da tabela com os clientes -->
            <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.nome}"></td>
            <td th:text="${cliente.email}"></td>
            <td th:text="${cliente.telefone}"></td>
            <td th:text="${cliente.senha}"></td>
        </tr>
        <!-- Fim do loop -->
    </table>
</body>
</html>
