<!DOCTYPE html>
<html>
<head>
    <title>Registrar Empresa</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Registrar Empresa</h1>
        <form th:action="@{/empresas/registrar}" th:object="${empresa}" method="post">
            <label for="cnpj">CNPJ:</label>
            <input type="text" id="cnpj" th:field="*{cnpj}" required><br>

            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required><br>

            <label for="descricao">Descrição:</label>
            <textarea id="descricao" th:field="*{descricao}" required></textarea><br>

            <button type="submit">Registrar Empresa</button>
        </form>
    </div>
</body>
</html>
